<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="4.4.87-preview" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Data" version="1.4.87-preview" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Services" version="1.4.87-preview" targetFramework="net451" />
  <package id="NLog" version="4.1.2" targetFramework="net451" />
  <package id="ZBrad.WcfLib" version="1.0.0-beta" targetFramework="net451" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net45" />
</packages>