<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog.log"
      internalLogLevel="Trace"
      throwExceptions="true" 
      >
  <extensions>
    <add assembly="NLogEtw" />
  </extensions>
  <targets>
    <target name="etw" type="EtwTarget" source="EchoApp-Gateway" layout="${message}${onexception:, Exception\: ${exception:format=tostring}}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="etw" />
  </rules>
</nlog>
